*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}
.container{
    /*max-width: 1024px;*/
    width: 90%;
    margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 12px;
/*     grid-template-rows: 180px auto 180px;*/
    row-gap: 12px; 
}
.grid-container img, .grid-container video{
max-width: 100%;
height: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(229, 241, 216);
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px yellowgreen;
    color: rgb(102, 60, 15);
}
@media(max-width:400px){
body{
    background-color: rgb(155, 235, 125);
}
.grid-container{
    grid-template-columns: 1fr 1fr;
}
}
.resource{
    background-color: rgba(219, 230, 209, 0.603);
    padding: 1em;
    border: groove rgb(147, 179, 125);
    border-radius: 3%;
    box-shadow: 4px 4px 6px rgb(34, 85, 27);

}